.page-layout{
    display: flex;
}

.content{
    flex: 1;
    padding: 15px 50px;
}

.tabs{
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-bottom: 0;
}

.tabs span{
    color: #747272;
    font-size: 16px;
}

.active-tab{
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 14px;
}

.content-divider{
    border: none;
    border-top: 1px solid #e6e6e6;
}

.article-image img{
    width: 170px;
    height: 115px;
    object-fit: cover;
}

.article-card{
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
}

.article-info{
    width: 70%;
}

.article-info h2{
    font-size: 24px;
    margin-bottom: 8px;
}

.article-info p{
    font-size: 16px;
    color: #6b6b6b;
}

.article-author{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 12px;
}

.article-author i{
    font-size: 15px;
    color: #6b6b6b;
}

.author{
    display: flex;
    align-items: center;
    gap: 8px;
}